<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d3a9b6da-6f17-41ac-bd1a-067aebd1d4c4/resourceGroups/mcit-group/providers/Microsoft.Web/sites/mcit-backend</ResourceId>
    <ResourceGroup>mcit-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://mcit-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mcit-backend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mcit-backend</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mcit-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>